@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.head-container{
    height: 100vh;
    background: linear-gradient(0deg, rgba(37, 29, 29, 0.491), rgba(37, 29, 29, 0.491)), url("img/bckg.jpeg");
    background-position: center;
    background-size: cover;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
}

header .navbar{
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

header .navbar .logo{
    font-size: 2.1rem;
    font-weight: 600;
}

header .navbar .logo span{
    color: #9b7c63;
}

header .navbar .menu-links{
    display: flex;
    gap: 40px;
}

header .navbar a{
    color: #fff;
    text-decoration: none;
}

header .navbar a:hover{
    color: #9b7c63;
    transition: .5s;;
}

.head-container .hero-section{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.head-container .hero-section .content{
    color: #fff;
    max-width: 1200px;
    margin: 0 auto;
}

.head-container .hero-section .content h1{
    font-size: 3rem;
    max-width: 600px;
}

.head-container .hero-section .content p{
    font-weight: 300;
    margin-top: 15px;
    max-width: 600px;
}

.head-container .hero-section .content button{
    background: #fff;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 38px;
    padding: 12px 30px;
    border-radius: 6px;
    cursor: pointer;
}

.head-container .hero-section .content button:hover{
    color: #fff;
    background: #9b7c63;
    transition: .5s;
}